.table {
  overflow-y: scroll;
  height: 700px;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
 }
 
 .sort-opacity {
   opacity: 0.3;
 }

 .cursor-pointer {
   cursor: pointer;
 }
}
 
 
