.application-title {
    font-size: 25px;
    margin-left: 10px;
}

.application-margin-top-20 {
    margin-top: 20px;
}

.application-margin-10 {
    margin: 10px;
}

.application-margin-bottom-5 {
    margin-bottom: 5px;
}