.container {
  margin: 80px;
}

.display-flex {
  display: flex;
}

.align-center{
  align-items: center;
}

.align-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}