.container {
  margin: 80px;
}

.display-flex {
  display: flex;
}

.align-center{
  align-items: center;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.align-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}